@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&display=swap');

:root {
	--baseFont: 'Nanum Myeongjo', 'arial', '돋움';
	--pointFont: 'Orbitron', 'arial';
	--baseColor: #111;
	--pointColor: crimson;
	--bgColor: #efefef;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--bodySize: 1rem;
}
