.Visual {
	width: 70vw;
	margin: 60px auto;
	height: calc(100vh - 90px);
	position: relative;

	.youtubeBox {
		width: 95%;
		display: flex;
		margin: 10px auto;

		article {
			width: 33%;
			margin: 10px auto;

			.pic {
				width: 100%;
				height: 11.5vmax;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			h2 {
				font-size: 1.2rem;
				margin: 10px 10px 0px 10px;
			}
		}
	}
}
