.Illust {
	width: 100%;
	height: 100vh;
	background: AliceBlue;
	position: relative;
	padding: 10vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	.svgBox {
		width: 60vh;
		height: 60vh;

		//stroke-dasharray: 해당 path의 빈칸 비율 설정
		//stroke-dashoffset: 가시영역에서의 stroke 선이 보여지는 시작기준점
		path {
			fill: transparent;
			stroke: gold;
			stroke-width: 2;
			stroke-dasharray: 2080; // 가시영역에서의 path의 전체 길이
			stroke-dashoffset: 2080; // 가시영역에서 선이 시작되는 기준점을 전체 길이만큼 비가시영역으로 보내서 가시영역에는 빈공간이 보이도록 초기값 설정
		}
	}
}
